:root {
  --social-bg-color: #8a8a8a;
  --social-bg-color-hover: #d8d8d865;
  --gradient-left: #00094d;
  --gradient-right: #011082;
  --header-hover: #ffb163;
  --header-text: rgba(232, 232, 232, 0.85);
  --font-family: 'Source Sans Pro', sans-serif;
  --main-bg: #31373c;
  --p-about: #c8c6c6ea;
  --skills: #252525;
}

/*animaciones*/
@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, .75, 1);
  }

  50% {
    transform: scale3d(.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, .95, 1);
  }

  75% {
    transform: scale3d(.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-48px);
  }
}

@keyframes scaleLine {
  0% {
    transform: translateX(-50%) scaleX(0);
  }

  100% {
    transform: translateX(-50%) scaleX(1);
  }
}



#about {
  padding: 5rem 0 12rem 0;
  background-color: var(--main-bg);
  /*scroll-margin-top: 100px; para hacer click en nav ajustá según el alto de tu navbar */
}

.mySizeAbout {
  max-width: 130rem;
  width: 90%;
}

.h2About {
  margin-bottom: 9rem;
  font-size: 40px;
  position: relative;
  font-weight: bold;
}

.h2About::after {
  content: '';
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 10%;
  background: var(--gradient-left);
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  border-radius: 5px;
}

.h2About.active::after {
  animation: scaleLine 1s ease-out forwards;
}

.pAbout {
  margin: 3rem auto 0 auto;
  max-width: 90rem;
}

.h3About {
  margin-bottom: 2rem;
  font-size: 30px;
  font-weight: bold;
}

.aboutContent {
  margin-top: 45px;
}

.p14 {
  font-size: 14px;
  color: var(--p-about);
}

.divSkills {
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 16px;
  color: var(--skills);
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text {
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (max-width: 768px) {
  .skills {
    margin-top: 25px;
  }
}

.slideRight {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.5s ease-out;
}

/* Clase que se activa al hacer scroll */
.slideRight.active {
  animation: slide-right 1.5s ease-out forwards;
}