.table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    /* Centra la tabla horizontalmente */
    font-size: 1.1rem;
    min-width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: white;
    /* Fundamental para fondo oscuro */
    font-family: var(--font-family);
}

.table th,
.table td {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    /* Centrar el texto DENTRO de las celdas */
}

.table th {
    background-color: var(--gradient-left);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.table tbody tr {
    background-color: rgba(255, 255, 255, 0.03);
    transition: background-color 0.3s ease;
}

.table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.08);
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los hijos transversalmente */
    justify-content: center;
    width: 100%;
    /* Aprovecha todo el ancho del section */
    overflow-x: auto;
    /* Por si la tabla es muy ancha */
    margin: 0 auto;
    padding-bottom: 50px;
}

.editBtn {
    background-color: #0c7c02;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editBtn:hover {
    background-color: #0a5503;
}